@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Kanit:ital,wght@1,300&family=Macondo&family=Montserrat:ital,wght@1,200&family=Oleo+Script+Swash+Caps:wght@700&family=Roboto:ital,wght@1,300&family=Tapestry&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #29323D;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/email-pattern.png);
}

/* Nav */

.logo {
    height: 100%;
    width: 120px;
}

.header {
    /* background: url(./img/peakpx\ \(5\).jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap:3em;
}

.nav-input:checked + .nav-menu {
    background-color: black;
}

.nav-label, .nav-input {
    display: none;
}

.nav-item{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: macondo;
    font-size: 30px;
    --clipp:polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav-item::after{
    content:"";
    display: block;
    background-color: black;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clipp);
    transition: clip-path .5s;
}

.nav-item:hover{
    --clipp:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* PRIMERA SECTION */


.padre{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 600px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 170px;
    border-radius: 50px;
    background-color: #fff;
    width: 70%;
}


.iconomujer {
    margin-top: 50px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.texto{
    background-color: #fff;
    max-width:800px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 50px;
    
}

.texto h1{
    font-family: macondo;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-size: 50px;
}

.texto p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;

}

.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
    font-family: macondo;
    font-weight: bold;
    
}

.boton1 {
    background-color:#5A6566;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow:5px 5px 0px 0px #000000
}


.boton2 {
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    color: #5A6566;
    box-shadow:5px 5px 0px 0px #000000
    }



/* SEGUNDA SECTION */

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.info{
    background-color: #fff;
    max-width: 90%;
    /* margin-top: 300px; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info h2{
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
}

.texto2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0 40px 30px 40px;
}




/* FOOTER */

.container-footer {
    /* margin: 70px;
    padding: 70px; */
    border-radius: 20px;
    color: black;
}

.footer {
    /* background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background: url(img/embossed-diamond.png); */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.24' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /* padding: 2rem;
    height: 600px */
}
.logo-narela {
    border-radius: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.imgfooter {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* /* margin-bottom: 30px; */ 
}

.container-footer h3 {
    font-weight:bolder;
    margin-bottom: 15px;
    color:#5A6566
}
    

.container-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:400px;
}

.contacto {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight:bold;
    font-size:20px;
}

.contacto a {
    
    color: white;
    font-size: bold;
    text-decoration: underline #fff;
}
.contacto p {
    color: white;
    margin-top: 13px;
}

.redes {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight:bold;
    font-size:large;
}
.redes a { 
    color: white;
    font-size: bold;
    text-decoration: underline #fff;
}

.masinfo {
    text-align: center;
    font-weight:bold;
    font-size:large;
}
.masinfo a {
    color: white;
    font-size: bold;
    text-decoration: underline #fff;
}

.hechopor {
    font-family:'Grape Nuts', cursive;
    text-align: center;
    margin-top: 40px;
    font-weight:bold;
    font-size:x-large;
    color: white;

}

/* MEDIA */

@media (max-width: 700px){

    .conteiner {
        width: 100vw;
        height: 100vh;
    } 

    /* NAV */

    .nav-label {
        display: block;
        cursor: pointer;
    }
    .nav-menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: black;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.6s ease-in-out;
    }
    .nav-input:checked + .nav-menu {
        clip-path: circle(100% at center);
    }
    .nav-item {
        color: #fff;
    }
   
    /* SECTION1 */

    .section1 {
        margin-top: 100px;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }

    .texto {
        align-items: center;
        justify-content: center;
        max-width: 90%;
        min-height: 90%;
    }
    .buttons {
        padding: 2px 8px;
        
    }
    .boton1, .boton2 {
        font-size: 20px;
    }

    .texto h1 {
        font-size: 50px;
    }
    
    .texto p {
        font-size: 20px;
    }    
    .iconomujer {
        display: flex;
        align-items: center;
        align-content: center;
        max-width: 70%;
        height: 250px;
        margin: 0 auto;
    }

    /* SECTION2 */

    .info {
        max-width: 95%;
        min-height: 95%;
    }
    .info h2 {
        font-size: 40px;
    }

    /* FOOTER */

    .container-footer {
        max-width: 50%;
        min-width: 50%;
    }
    
    .container-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap:10px
    }
    .contacto {
        margin-top: 10px;
    }
    .contacto p {
        font-size: 20px;
    }
    .redes {
        margin-top: 3px;
    }
    .masinfo {
        margin-top: 50px;
    }
    .container-footer h3 {
        font-size: 20px;
    }
    .hechopor {
        font-size: 22px;
    }
}
   
